{
  "*.{html,css}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "npm run lint:fix -- --cache --cache-location ./node_modules/.cache/.eslintcache",
    "tsc-files --noEmit",
    "npm run test:related"
  ]
}
